body {
    background: #f3f3f3;
    color: #000000;
}

.sidebar {
    background-color: #fbfafa;
    border-right: 2px solid rgb(179 179 179);
}

.sidebar_menu li a{
    border-bottom: 2px solid rgb(179 179 179);
}

.menu-item {
    color:black
}

.person {
    color:black
}

a:hover {
    color: var(--customColor);
    text-decoration: underline var(--customColor);
}

.basic-information li {
    border-color: var(--customColor);
}

.social-box {
    background-color: var(--customColor);
}

.social-box:hover {
    background-color: #fbfafa;
}

.social-box:hover .icon-social {
    filter: var(--customColorIcons);
}

.icon {
    filter: var(--customColorIcons);
}

.list-experiencie {
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border:unset;
}