@import url(./normalize.css);
@import url(./fonts.css);
@import url(./sideBar.css);
@import url(./progressBar.css);
@import url(./experience.css);
@import url(./interactive.css);

/* home */
.main-content {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3rem;
  padding-bottom: 6rem;
  overflow-y: auto;
}

.main-content{
  transform: translateX(0); 
  animation-duration: .8s;
  animation-name: aboutAnimation;
}

@keyframes aboutAnimation {
  from {
    transform: translateX(100%); 
  }
}

.title {
  font-size: 1.875rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.description {
  font-size: 1.125rem;
  line-height: 1.875rem;
  width: 80%;
}
.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10rem;
  height: 10rem;
}
.qualities {
  display: grid;
  column-gap: 2.25rem;
  grid-template-columns: 1fr .6fr;
  margin-left: 1.25rem;
  margin-top: 2.25rem;
}

.basic-information {
  display: grid;
  column-gap: 2rem;
  row-gap: 1.5rem;
  margin-bottom: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(14rem,16rem));
}

.basic-information li {
  display: flex;
  border-bottom: 2px solid rgba(235, 235, 235, 0.25);
  align-items: baseline;
  width: max-content;
}

a {
  color: var(--customColor);
}

a:hover {
  color: white
}

ul {
  list-style: none;
}

.information_item {
  padding-right: .5rem;
  font-weight: 500;
  font-size: 1.125rem;
}

.information_text {
  font-weight: 400;
  font-size: 1rem;
}

.download-button {
  background: var(--customColor);
  border-radius: 1.55rem;
  width: 13rem;
  height: 3rem;
  cursor: pointer;
  margin-top: 1.25rem;
}

.download-button:hover {
  background: #9c4002;
  transition: background-color, 1s;
}

.button_text {
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
  margin:0;
}

.information-section {
  margin: auto 0;
}

.progress-section {
  display: grid;
  row-gap: .5rem;
}

.experiencie {
  margin-top: 3rem;
}

.list-experiencie {
  margin-left: 1.25rem;
  background-color: #181818;
  border: 2px solid #2A2A2A;
  border-radius: .5rem;
  padding: 3rem;
}


.position-action-bar-animated{
  top: -3rem;
  transition: all 0.7s;
}
/*Media Querys*/


@media (max-width: 1250px) {
  .main-content {
  }
  .qualities {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 769px) {
  .main-content{
    transform: none; 
    animation-name: none;
  }

  .first-section {
    flex-direction: column;
  }

  .description {
    width: auto;
    margin-bottom: 1.5rem;
  }

  .main-content{
    padding-right: 1rem;
  }

  .qualities {
    display: block;
    margin-right: 1rem;
    margin-left: 0;
  }

  .basic-information {
    margin-bottom: 1.5rem;
  }

  .information_item {
    font-size: 1.5rem;
  }

  .information_text {
    font-size: 1.125rem;
  }

  .download-button {
    margin-bottom: 1.25rem;
  }

  .list-experiencie {
    margin-left: 0;
    padding: 1rem;
  }
}