@import url(./normalize.css);
@import url(./fonts.css);
@import url(./sideBar.css);
@import url(./interactive.css);

.main-content {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3rem;
  padding-bottom: 6rem;
  overflow-y: auto;
  text-align: center;

}

.main-content {
  transform: translateX(0);
  animation-duration: 0.8s;
  animation-name: aboutAnimation;
}

@keyframes aboutAnimation {
  from {
    transform: translateX(100%);
  }
}

.title {
    font-size: 3.2rem;
    font-weight: 500;
    border-bottom: 5px solid var(--customColor);
    padding-right: 3rem;
    width: max-content;
    text-align: left;
}

.subtitle {
    margin-top: 3rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--customColor);
}

.subtitle-description {
    margin-top: .5rem;
    font-size: 1.25rem;
    letter-spacing: .4rem;
    font-weight: 500;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(13rem,30%));
    place-content: center;
    row-gap: 3rem;
    column-gap: 1rem;
    margin-top: 10vh;
}

.icon-contact {
    width: 2.2rem;
    height: 2.2rem;
    filter: var(--customColorIcons);
}

.contact_label {
    font-size: 1.25rem;
    font-weight: 500;
    margin: .3rem 0;
}

.contact_text {
    font-size: 1rem;
    font-weight: 400;
    margin: .3rem 0;
}

a {
    color:var(--customColor)
}

a:hover {
    color: white
}

@media (max-width: 769px) {
    .contact-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit,40%);
        place-content: center;
        row-gap: 3rem;
        column-gap: 1rem;
        margin-top: 10vh;
    }

    .main-content {
        transform: unset;
        animation-duration: unset;
        animation-name: unset;
    }
      
}