/*experience component*/
.experiencie-box {
  position: relative;
  padding: 2rem 3rem;
  border-left: 3px solid var(--customColor);
}

.experiencie-box::after {
  content: " ";
  position: absolute;
  height: 1rem;
  width: 1rem;
  border-radius: 999px;
  background-color: var(--customColor);
  left: -0.55rem;
  top: 0;
}

.experience_label {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.experience_label span {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 1rem;
  padding: 0 0.4rem;
  border-bottom: 2px solid var(--customColor);
}

.experiencie_text {
  font-size: 1.125rem;
  line-height: 2rem;
}


@media (max-width: 769px) {
  .experiencie-box {
    padding: 2rem 0 2rem 1rem;
  }

  .experience_label {
    font-size: 1.35;
  }

  .experiencie_text {
    font-size: 1.25;
  }
}
