@font-face {
    font-family: 'PTSans';
    src: url('../fonts/ptSans/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'PTSans';
    src: url('../fonts/ptSans/PTSans-Bold.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'PTSans';
    src: url('../fonts/ptSans/PTSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PTSans';
    src: url('../fonts/ptSans/PTSans-BoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'Caveat';
    src: url('../fonts/caveat/Caveat-Medium.ttf') format('truetype');
    font-weight: 500;
}