.iterative-position {
    position: absolute;
    display: grid;
    right: 1rem;
    top:1rem;
    column-gap: 1rem;
    align-items: center;
    grid-template-columns: min-content min-content;
    z-index: 10;
}

.color-options {
    width: 12rem;
    background-color: #3f3f3f;
    border-radius: .8rem;
    padding: .6rem;
    color: white;
    height: min-content;
    margin: auto;
    transform: translateX(-100vw);
}

.slide-r {
    transform: translateX(0);
    animation-duration: .8s;
    animation-name: iterativeSlide;
}

@keyframes iterativeSlide {
    from {
        transform: translateX(50%);
    }
}

.color-options span {
    display: inline-block;
    margin-top: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    cursor:pointer;
}

.color-options span:nth-child(2) {
    background-color: #FF6600;
}
.color-options span:nth-child(3) {
    background-color: #04669C;
}
.color-options span:nth-child(4) {
    background-color: #BB00FD;
}
.color-options span:nth-child(5) {
    background-color: #E30202;
}
.color-options span:nth-child(6) {
    background-color: #029AAE;
}

.interactive-circle {
    z-index: 20;
    margin-top: 1rem;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    background-color: #3f3f3f;
    box-shadow: 0px 2px 8px 1px rgba(232, 99, 10, 0.14);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iterative-icon {
    width: 1.3rem;
    height: 1.3rem;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(63deg) brightness(102%) contrast(100%);
}

#theme:not(:checked) + .interactive-circle > #moon {
    display: none;
}
#theme:checked + .interactive-circle > #sun {
    display: none;
}

.white-color {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.black-filter {
    filter: unset;
}

.animated-interactive-bar {
    right: -5rem;
    transition: all 0.7s;
}

@media (max-width: 769px){
    .iterative-position {
        top:5rem;
        right: .5rem;
    }
}