@import url(./normalize.css);
@import url(./fonts.css);
@import url(./sideBar.css);
@import url(./interactive.css);

.main-content {
    padding-left: 3%;
    padding-right: 3%;
    overflow-y: auto;
    overflow: hidden;
}

.main-content {
    transform: translateX(0); 
    animation-duration: .8s;
    animation-name: aboutAnimation;
}

@keyframes aboutAnimation {
    from {
        transform: translateX(100%); 
    }
}

.title {
    font-size: 3.2rem;
    font-weight: 500;
    border-bottom: 5px solid var(--customColor);
    padding-right: 3rem;
    width: max-content;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 500;
    width: max-content;
}

.proyect-section {
    display: grid;
    grid-template-columns: repeat(auto-fit,30%);
    margin-top: 1.5rem;
    column-gap: 1rem;
    row-gap: 2rem;
    place-content: start;
}

.proyect_item {
    margin: auto;
    width: 100%;
    height: 30vh;
    border-radius: .5rem;
    object-fit: cover;
    cursor: pointer;
    transform: translateY(0);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.proyect_item:hover {
    transform: translateY(2%);
    transition: transform .7s;
    box-shadow: rgb(0 0 0 / 16%) 0px 5px 9px, rgb(0 0 0 / 23%) 0px 6px 7px;
}

.proyect_item:not(:hover) {
    transform: translateY(-5%);
    transition: transform .5s;
}

@media (max-width: 769px) {
    .main-content {
        transform: none; 
        animation-duration: unset;
        animation-name: unset;
    }
    .title {
        font-size: 2.5rem;
    }

    .proyect-section {
        grid-template-columns: repeat(auto-fit,minmax(33%,10rem));
        gap: 1rem;
        place-content: center;
    }
    .proyect_item{
        height: 12rem;
    }

    .proyect_item:hover {
        transition: none;
        transform: none;
    }

    .proyect_item:not(:hover) {
        transition: none;
        transform: none;
    }
}