.progress-bar_label {
  font-size: .9rem;
  font-weight: 500;
  line-height: 2rem;
}

.progress-bar_bar {
  background-color: #d6d6d6;
  position: relative;
  width: 100%;
  height: 0.8125rem;
  border-radius: 1rem;
}

.progress-bar_bar::before {
  content: "100%";
  font-size: .5rem;
  position: absolute;
  right: 0;
  bottom: 1rem;
}

/* efect of progress*/
[data-class="10"] {
  background-color: var(--customColor);
  width: 10%;
  height: 100%;
  text-align: right;
  font-size: .7rem;
  padding-right: .5rem;
  border-radius: 1rem;
  animation-duration: 3s;
  animation-name: slidein;
}

[data-class="20"] {
  position: absolute;
  background-color: var(--customColor);
  width: 20%;
  height: 100%;
  text-align: right;
  font-size: .7rem;
  padding-right: .5rem;
  border-radius: 1rem;
  animation-duration: 3s;
  animation-name: slidein;
}

[data-class="30"] {
  position: absolute;
  background-color: var(--customColor);
  width: 30%;
  height: 100%;
  text-align: right;
  font-size: .7rem;
  padding-right: .5rem;
  border-radius: 1rem;
  animation-duration: 3s;
  animation-name: slidein;
}

[data-class="40"] {
  position: absolute;
  background-color: var(--customColor);
  width: 40%;
  height: 100%;
  text-align: right;
  font-size: .7rem;
  padding-right: .5rem;
  border-radius: 1rem;
  animation-duration: 3s;
  animation-name: slidein;
}

[data-class="50"] {
  position: absolute;
  background-color: var(--customColor);
  width: 50%;
  height: 100%;
  text-align: right;
  font-size: .7rem;
  padding-right: .5rem;
  border-radius: 1rem;
  animation-duration: 3s;
  animation-name: slidein;
}

[data-class="60"] {
  position: absolute;
  background-color: var(--customColor);
  width: 60%;
  height: 100%;
  text-align: right;
  font-size: .7rem;
  padding-right: .5rem;
  border-radius: 1rem;
  animation-duration: 3s;
  animation-name: slidein;
}

[data-class="70"] {
  position: absolute;
  background-color: var(--customColor);
  width: 70%;
  height: 100%;
  text-align: right;
  font-size: .7rem;
  padding-right: .5rem;
  border-radius: 1rem;
  animation-duration: 3s;
  animation-name: slidein;
}

[data-class="80"] {
  position: absolute;
  background-color: var(--customColor);
  width: 80%;
  height: 100%;
  text-align: right;
  font-size: .7rem;
  padding-right: .5rem;
  border-radius: 1rem;
  animation-duration: 3s;
  animation-name: slidein;
}

[data-class="90"] {
  position: absolute;
  background-color: var(--customColor);
  width: 90%;
  height: 100%;
  text-align: right;
  font-size: .7rem;
  padding-right: .5rem;
  border-radius: 1rem;
  animation-duration: 3s;
  animation-name: slidein;
}

[data-class="100"] {
  position: absolute;
  background-color: var(--customColor);
  width: 99%;
  height: 100%;
  text-align: right;
  font-size: .7rem;
  padding-right: .5rem;
  border-radius: 1rem;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    width: 1%;
  }
}
