/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #191919;
  text-align: center;
  height: 100vh;
  position: relative;
  width: 21.1rem;
}

.sidebar_title {
  font-size: 3rem;
  text-align: right;
  margin-right: 2rem;
  margin-top: 2rem;
  border-left: 4px solid var(--customColor);
  height: min-content;
}

.sidebar_menu {
  list-style: none;
  width: 70%;
  margin: 0 2rem 0 auto;
  text-align: right;
}

ul {
  padding-inline-start: 0;
}

.sidebar_menu li {
  margin-bottom: 1.5rem;
}

.icon {
  width: 1.125rem;
  color: white;
  margin-right: 0.8rem;
  margin-left: 1.125rem;
  filter: var(--customColorIcons);
}

a:-webkit-any-link {
  text-decoration: none;
}

.menu-item {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.sidebar_menu li a:hover span {
  color: var(--customColor);
}

.sidebar_menu li a:hover img {
  filter: var(--customColorIcons);
}


.activer img{
  filter: var(--customColorIcons);
}

.actived span{
  color: var(--customColor);
}

/*burguer menu*/
.burguer-menu {
  display: none;
}

.social-bar {
  display: grid;
  grid-template-columns: repeat(3,3.5625rem);
  grid-template-rows: 3.5625rem;
  column-gap: .11rem;
}

.social-box {
  background: white;
  padding: 1rem;
  cursor:pointer
}

.social-box:hover {
  background: var(--customColor);
}

.social-box:hover .icon-social {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(63deg) brightness(102%) contrast(100%);
}
@media (max-width: 1150px) {
  .sidebar {
    width: 23vw;
  }

  .sidebar_menu {
    margin: 1rem;
    width: auto;
    text-align-last: right;
  }
  .sidebar_title {
    font-size: 2rem;
    margin: 3rem .5rem 0 0;
    text-align: right;
  }

  .menu-item {
    font-size: .8rem;
    m
  }
}

/*mediaquery*/
@media (max-width: 769px) {
  /*burguer menu*/
  .social-bar {
    margin: 100% 0 0 0 ;
  }

  .burguer-menu {
    z-index: 20;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-bottom: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    background-color: #3f3f3f;
    box-shadow: 0px 2px 8px 1px rgba(232, 99, 10, 0.14);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burguer-menu p {
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  .sidebar {
    display: none;
    width: 80%;
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
  }

  .animated{
    display: flex;
    transform: translateX(-100%); 
  }

  #check-burger:not(:checked) ~ .animated{
    transform: translateX(-100%); 
    animation-duration: .7s;
    animation-name: hiddenanimation;
  }

  @keyframes hiddenanimation {
    from {
      transform: translateX(0); 
    }
  }

  #check-burger:checked ~ .animated{
    display: flex;
    transform: translateX(0); 
    animation-duration: .7s;
    animation-name: unhiddenanimation;
  }

  @keyframes unhiddenanimation {
    from {
      transform: translateX(-100%); 
    }
  }
}
