@import url(./normalize.css);
@import url(./fonts.css);
@import url(./sideBar.css);
@import url(./interactive.css);

/* home */
.main-content {
  display: grid;
  grid-template-columns: 1fr .5fr;
}

.main-content{
  transform: translateX(0); 
  animation-duration: 1s;
  animation-name: homeAnimation;
}

@keyframes homeAnimation {
  from {
    transform: translateX(100%); 
  }
}

/*Column left */
.person-information {
  margin-top: 10rem;
  margin-left: 4.375rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.person {
  font-weight: 500;
  color: white;
  font-size: 2rem;
}

.person_name {
  color: var(--customColor);
  font-size: 3rem;
  font-family: 'Caveat';
  font-weight: 500;
  display: inline-block;
}

.person_hability {
  color: var(--customColor);
  display: inline-block;
}

.description {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
}

.more-button {
  background: var(--customColor);
  border-radius: 1.55rem;
  width: 13rem;
  height: 3.3rem;
  cursor: pointer;
}

.button_text {
  font-size: 1.125rem;
  color: white;
  font-weight: 400;
  margin:0;
}

/*Column right*/

.user-section {
  position: relative;
  margin: 5rem 1rem 0 0;
}

.user-section_image {
  width: 25vw;
  height: 80vh;
  border-radius: 0.5625rem ;
  object-fit: cover;
}

/*media querys*/


@media (max-width: 769px) {
  .main-content {
    width: 100%;
    display: grid;
    overflow-x: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 46% 1fr;
  }

  .main-content{
    transform: none; 
    animation-name: none;
  }

  .user-section {
    margin: 0;
    grid-row-start: 1;
    height: min-content;
  }
  .user-section::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00000070;
  }

  .user-section_image {
    width: 100%;
    height: 50%;
    border-radius: 0.5625rem ;
    object-fit: cover;
  }

  .person-information {
    margin: 1rem 0 2rem 1rem;
    row-gap: 1.5rem;
    z-index: 10;
    position: relative;
  }

  .description {
    font-size: 1.25rem;
    font-weight: 400;
  }

  .person_name {
    margin: .6rem 0;
  }

  .person_hability {
    display: inline;
  }
}